nav {
  /* position: absolute; */
  font-family:'Times New Roman', Times, serif;
  background-color: white;
  padding: 1rem 1rem;
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 
nav > * {
  /* padding-left: 10px; */
/* } */

nav img {
  /* position: relative; */
  left: 10px;
  /* margin-right: 20px; */
  height: 12em;
  /* width: 12rem; */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 20px;
  /* margin-left: 20px; */
  /* padding: 0; */
  /* font-size: large; */
  font-weight: bolder;
}

nav ul li {
  font-size: larger;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.10rem;
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 0.7rem;
  margin-left: 6px;
}
